.App-header {background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(182, 178, 178, 0.884);
  padding: 20px;
  height: 100%;
  max-width: 450px;
  margin: 10px auto;
}
  h1 {
    color: blue;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
  }
  .temperature {
    color: rgb(31, 31, 134);
  }
  .humidity {
    color: rgb(24, 24, 175);
  }
  .wind {
    color: rgb(52, 52, 236);
  }
  .temperature, .humidity, .wind{
    margin:0px;
    list-style:none;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  h3 {
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    position: relative;
    top: -90px;
  }
  .icon {
    text-align: left;
    position: relative;
    top: -130px;
  }
  
  .entercity {
    border-radius: 5px;
    border-color: whitesmoke;
  }
  
  .search, .current {
    background-color: rgba(49, 57, 61, 0.3);
    border-radius: 5px;
    border: 1px solid rgb(146, 143, 143);
    color: rgb(43, 43, 65);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }